<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Country</key>
		<string>AD</string>
		<key>Length</key>
		<integer>24</integer>
		<key>InnerStructure</key>
		<string>F04F04A12</string>
		<key>EU924-2009</key>
		<false />
		<key>IBAN-Requirement</key>
		<false />
		<key>Example</key>
		<string>AD1200012030200359100100</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>AE</string>
		<key>Length</key>
		<integer>23</integer>
		<key>InnerStructure</key>
		<string>F03F16</string>
		<key>EU924-2009</key>
		<false />
		<key>IBAN-Requirement</key>
		<false />
		<key>Example</key>
		<string>AE070331234567890123456</string>
	</dict>
	<dict>
		<key>Country</key><string>AL</string>
		<key>Length</key>
		<integer>28</integer>
		<key>InnerStructure</key>
		<string>F08A16</string>
		<key>EU924-2009</key>
		<false />
		<key>IBAN-Requirement</key>
		<false />
		<key>Example</key>
		<string>AL47212110090000000235698741</string>
	</dict>
	<dict>
		<key>Country</key><string>AT</string>
		<key>Length</key>
		<integer>20</integer>
		<key>InnerStructure</key>
		<string>F05F11</string>
		<key>EU924-2009</key>
		<true />
		<key>IBAN-Requirement</key>
		<false />
		<key>Example</key>
		<string>AT611904300234573201</string>
	</dict>
	<dict>
		<key>Country</key><string>AZ</string>
		<key>Length</key>
		<integer>28</integer>
		<key>InnerStructure</key>
		<string>U04A20</string>
		<key>EU924-2009</key>
		<false />
		<key>IBAN-Requirement</key>
		<false />
		<key>Example</key>
		<string>AZ21NABZ00000000137010001944</string>
	</dict>
	<dict>
		<key>Country</key><string>BA</string>
		<key>Length</key>
		<integer>20</integer>
		<key>InnerStructure</key>
		<string>F03F03F08F02</string>
		<key>EU924-2009</key>
		<false />
		<key>IBAN-Requirement</key>
		<false />
		<key>Example</key>
		<string>BA391290079401028494</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>BE</string>
		<key>Length</key>
		<integer>16</integer>
		<key>InnerStructure</key>
		<string>F03F07F02</string>
		<key>EU924-2009</key>
		<true />
		<key>IBAN-Requirement</key>
		<false />
		<key>Example</key>
		<string>BE68539007547034</string>
	</dict>
	<dict>
		<key>Country</key>
		<string>BG</string>
		<key>Length</key>
		<integer>22</integer>
		<key>InnerStructure</key>
		<string>U04F04F02A08</string>
		<key>EU924-2009</key>
		<true />
		<key>IBAN-Requirement</key>
		<false />
		<key>Example</key>
		<string>BG80BNBG96611020345678</string>
	</dict>
	<dict>
		<key>Country</key><string>BH</string>
		<key>Length</key>
		<integer>22</integer>
		<key>InnerStructure</key>
		<string>U04A14</string>
		<key>EU924-2009</key>
		<false />
		<key>IBAN-Requirement</key>
		<false />
		<key>Example</key>
		<string>BH67BMAG00001299123456</string>
	</dict>
	<dict>
		<key>Country</key><string>CH</string>
		<key>Length</key>
		<integer>21</integer>
		<key>InnerStructure</key>
		<string>F05A12</string>
		<key>EU924-2009</key>
		<false />
		<key>IBAN-Requirement</key>
		<false />
		<key>Example</key>
		<string>CH9300762011623852957</string>
	</dict>
	<dict>
		<key>Country</key><string>CR</string>
		<key>Length</key>
		<integer>21</integer>
		<key>InnerStructure</key>
		<string>F03F14</string>
		<key>EU924-2009</key>
		<false />
		<key>IBAN-Requirement</key>
		<false />
		<key>Example</key>
		<string>CR0515202001026284066</string>
	</dict>
	<dict>
		<key>Country</key><string>CY</string>
		<key>Length</key>
		<integer>28</integer>
		<key>InnerStructure</key>
		<string>F03F05A16</string>
		<key>EU924-2009</key>
		<true />
		<key>IBAN-Requirement</key>
		<false />
		<key>Example</key>
		<string>CY17002001280000001200527600</string>
	</dict>
	<dict>
		<key>Country</key><string>CZ</string>
		<key>Length</key>
		<integer>24</integer>
		<key>InnerStructure</key>
		<string>F04F06F10</string>
		<key>EU924-2009</key>
		<true />
		<key>IBAN-Requirement</key>
		<false />
		<key>Example</key>
		<string>CZ6508000000192000145399</string>
	</dict>
	<dict>
		<key>Country</key><string>DE</string>
		<key>Length</key>
		<integer>22</integer>
		<key>InnerStructure</key>
		<string>F08F10</string>
		<key>EU924-2009</key>
		<true />
		<key>IBAN-Requirement</key>
		<false />
		<key>Example</key>
		<string>DE89370400440532013000</string>
	</dict>
	<dict>
		<key>Country</key><string>DK</string>
		<key>Length</key>
		<integer>18</integer>
		<key>InnerStructure</key>
		<string>F04F09F01</string>
		<key>EU924-2009</key>
		<true />
		<key>IBAN-Requirement</key>
		<false />
		<key>Example</key>
		<string>DK5000400440116243</string>
	</dict>
	<dict>
		<key>Country</key><string>DO</string>
		<key>Length</key>
		<integer>28</integer>
		<key>InnerStructure</key>
		<string>U04F20</string>
		<key>EU924-2009</key>
		<false />
		<key>IBAN-Requirement</key>
		<false />
		<key>Example</key>
		<string>DO28BAGR00000001212453611324</string>
	</dict>
	<dict>
		<key>Country</key><string>EE</string>
		<key>Length</key>
		<integer>20</integer>
		<key>InnerStructure</key>
		<string>F02F02F11F01</string>
		<key>EU924-2009</key>
		<true />
		<key>IBAN-Requirement</key>
		<false />
		<key>Example</key>
		<string>EE382200221020145685</string>
	</dict>
	<dict>
		<key>Country</key><string>ES</string>
		<key>Length</key>
		<integer>24</integer>
		<key>InnerStructure</key>
		<string>F04F04F01F01F10</string>
		<key>EU924-2009</key>
		<true />
		<key>IBAN-Requirement</key>
		<false />
		<key>Example</key>
		<string>ES9121000418450200051332</string>
	</dict>
	<dict>
		<key>Country</key><string>FI</string>
		<key>Length</key>
		<integer>18</integer>
		<key>InnerStructure</key>
		<string>F06F07F01</string>
		<key>EU924-2009</key>
		<true />
		<key>IBAN-Requirement</key>
		<false />
		<key>Example</key>
		<string>FI2112345600000785</string>
	</dict>
	<dict>
		<key>Country</key><string>FO</string>
		<key>Length</key>
		<integer>18</integer>
		<key>InnerStructure</key>
		<string>F04F09F01</string>
		<key>EU924-2009</key>
		<false />
		<key>IBAN-Requirement</key>
		<false />
		<key>Example</key>
		<string>FO6264600001631634</string>
	</dict>
	<dict>
		<key>Country</key><string>FR</string>
		<key>Length</key>
		<integer>27</integer>
		<key>InnerStructure</key>
		<string>F05F05A11F02</string>
		<key>EU924-2009</key>
		<true />
		<key>IBAN-Requirement</key>
		<false />
		<key>Example</key>
		<string>FR1420041010050500013M02606</string>
	</dict>
	<dict>
		<key>Country</key><string>GB</string>
		<key>Length</key>
		<integer>22</integer>
		<key>InnerStructure</key>
		<string>U04F06F08</string>
		<key>EU924-2009</key>
		<true />
		<key>IBAN-Requirement</key>
		<false />
		<key>Example</key>
		<string>GB29NWBK60161331926819</string>
	</dict>
	<dict>
		<key>Country</key><string>GE</string>
		<key>Length</key>
		<integer>22</integer>
		<key>InnerStructure</key>
		<string>U02F16</string>
		<key>EU924-2009</key>
		<false />
		<key>IBAN-Requirement</key>
		<false />
		<key>Example</key>
		<string>GE29NB0000000101904917</string>
	</dict>
	<dict>
		<key>Country</key><string>GI</string>
		<key>Length</key>
		<integer>23</integer>
		<key>InnerStructure</key>
		<string>U04A15</string>
		<key>EU924-2009</key>
		<true />
		<key>IBAN-Requirement</key>
		<false />
		<key>Example</key>
		<string>GI75NWBK000000007099453</string>
	</dict>
	<dict>
		<key>Country</key><string>GL</string>
		<key>Length</key>
		<integer>18</integer>
		<key>InnerStructure</key>
		<string>F04F09F01</string>
		<key>EU924-2009</key>
		<false />
		<key>IBAN-Requirement</key>
		<false />
		<key>Example</key>
		<string>GL8964710001000206</string>
	</dict>
	<dict>
		<key>Country</key><string>GR</string>
		<key>Length</key>
		<integer>27</integer>
		<key>InnerStructure</key>
		<string>F03F04A16</string>
		<key>EU924-2009</key>
		<true />
		<key>IBAN-Requirement</key>
		<false />
		<key>Example</key>
		<string>GR1601101250000000012300695</string>
	</dict>
	<dict>
		<key>Country</key><string>HR</string>
		<key>Length</key>
		<integer>21</integer>
		<key>InnerStructure</key>
		<string>F07F10</string>
		<key>EU924-2009</key>
		<false />
		<key>IBAN-Requirement</key>
		<false />
		<key>Example</key>
		<string>HR1210010051863000160</string>
	</dict>
	<dict>
		<key>Country</key><string>HU</string>
		<key>Length</key>
		<integer>28</integer>
		<key>InnerStructure</key>
		<string>F03F04F01F15F01</string>
		<key>EU924-2009</key>
		<true />
		<key>IBAN-Requirement</key>
		<false />
		<key>Example</key>
		<string>HU42117730161111101800000000</string>
	</dict>
	<dict>
		<key>Country</key><string>IE</string>
		<key>Length</key>
		<integer>22</integer>
		<key>InnerStructure</key>
		<string>U04F06F08</string>
		<key>EU924-2009</key>
		<true />
		<key>IBAN-Requirement</key>
		<false />
		<key>Example</key>
		<string>IE29AIBK93115212345678</string>
	</dict>
	<dict>
		<key>Country</key><string>IL</string>
		<key>Length</key>
		<integer>23</integer>
		<key>InnerStructure</key>
		<string>F03F03F13</string>
		<key>EU924-2009</key>
		<false />
		<key>IBAN-Requirement</key>
		<false />
		<key>Example</key>
		<string>IL620108000000099999999</string>
	</dict>
	<dict>
		<key>Country</key><string>IS</string>
		<key>Length</key>
		<integer>26</integer>
		<key>InnerStructure</key>
		<string>F04F02F06F10</string>
		<key>EU924-2009</key>
		<true />
		<key>IBAN-Requirement</key>
		<false />
		<key>Example</key>
		<string>IS140159260076545510730339</string>
	</dict>
	<dict>
		<key>Country</key><string>IT</string>
		<key>Length</key>
		<integer>27</integer>
		<key>InnerStructure</key>
		<string>U01F05F05A12</string>
		<key>EU924-2009</key>
		<true />
		<key>IBAN-Requirement</key>
		<false />
		<key>Example</key>
		<string>IT60X0542811101000000123456</string>
	</dict>
	<dict>
		<key>Country</key><string>KW</string>
		<key>Length</key>
		<integer>30</integer>
		<key>InnerStructure</key>
		<string>U04A22</string>
		<key>EU924-2009</key>
		<false />
		<key>IBAN-Requirement</key>
		<true />
		<key>Example</key>
		<string>KW81CBKU0000000000001234560101</string>
	</dict>
	<dict>
		<key>Country</key><string>KZ</string>
		<key>Length</key>
		<integer>20</integer>
		<key>InnerStructure</key>
		<string>F03A13</string>
		<key>EU924-2009</key>
		<false />
		<key>IBAN-Requirement</key>
		<false />
		<key>Example</key>
		<string>KZ86125KZT5004100100</string>
	</dict>
	<dict>
		<key>Country</key><string>LB</string>
		<key>Length</key>
		<integer>28</integer>
		<key>InnerStructure</key>
		<string>F04A20</string>
		<key>EU924-2009</key>
		<false />
		<key>IBAN-Requirement</key>
		<false />
		<key>Example</key>
		<string>LB62099900000001001901229114</string>
	</dict>
	<dict>
		<key>Country</key><string>LI</string>
		<key>Length</key>
		<integer>21</integer>
		<key>InnerStructure</key>
		<string>F05A12</string>
		<key>EU924-2009</key>
		<true />
		<key>IBAN-Requirement</key>
		<false />
		<key>Example</key>
		<string>LI21088100002324013AA</string>
	</dict>
	<dict>
		<key>Country</key><string>LT</string>
		<key>Length</key>
		<integer>20</integer>
		<key>InnerStructure</key>
		<string>F05F11</string>
		<key>EU924-2009</key>
		<true />
		<key>IBAN-Requirement</key>
		<false />
		<key>Example</key>
		<string>LT121000011101001000</string>
	</dict>
	<dict>
		<key>Country</key><string>LU</string>
		<key>Length</key>
		<integer>20</integer>
		<key>InnerStructure</key>
		<string>F03A13</string>
		<key>EU924-2009</key>
		<true />
		<key>IBAN-Requirement</key>
		<false />
		<key>Example</key>
		<string>LU280019400644750000</string>
	</dict>
	<dict>
		<key>Country</key><string>LV</string>
		<key>Length</key>
		<integer>21</integer>
		<key>InnerStructure</key>
		<string>U04A13</string>
		<key>EU924-2009</key>
		<true />
		<key>IBAN-Requirement</key>
		<false />
		<key>Example</key>
		<string>LV80BANK0000435195001</string>
	</dict>
	<dict>
		<key>Country</key><string>MC</string>
		<key>Length</key>
		<integer>27</integer>
		<key>InnerStructure</key>
		<string>F05F05A11F02</string>
		<key>EU924-2009</key>
		<true />
		<key>IBAN-Requirement</key>
		<false />
		<key>Example</key>
		<string>MC5811222000010123456789030</string>
	</dict>
	<dict>
		<key>Country</key><string>MD</string>
		<key>Length</key>
		<integer>24</integer>
		<key>InnerStructure</key>
		<string>U02F18</string>
		<key>EU924-2009</key>
		<false />
		<key>IBAN-Requirement</key>
		<false />
		<key>Example</key>
		<string>MD49AG000225100013104168</string>
	</dict>
	<dict>
		<key>Country</key><string>ME</string>
		<key>Length</key>
		<integer>22</integer>
		<key>InnerStructure</key>
		<string>F03F13F02</string>
		<key>EU924-2009</key>
		<false />
		<key>IBAN-Requirement</key>
		<false />
		<key>Example</key>
		<string>ME25505000012345678951</string>
	</dict>
	<dict>
		<key>Country</key><string>MK</string>
		<key>Length</key>
		<integer>19</integer>
		<key>InnerStructure</key>
		<string>F03A10F02</string>
		<key>EU924-2009</key>
		<false />
		<key>IBAN-Requirement</key>
		<false />
		<key>Example</key>
		<string>MK07250120000058984</string>
	</dict>
	<dict>
		<key>Country</key><string>MR</string>
		<key>Length</key>
		<integer>27</integer>
		<key>InnerStructure</key>
		<string>F05F05F11F02</string>
		<key>EU924-2009</key>
		<false />
		<key>IBAN-Requirement</key>
		<false />
		<key>Example</key>
		<string>MR1300020001010000123456753</string>
	</dict>
	<dict>
		<key>Country</key><string>MT</string>
		<key>Length</key>
		<integer>31</integer>
		<key>InnerStructure</key>
		<string>U04F05A18</string>
		<key>EU924-2009</key>
		<true />
		<key>IBAN-Requirement</key>
		<false />
		<key>Example</key>
		<string>MT84MALT011000012345MTLCAST001S</string>
	</dict>
	<dict>
		<key>Country</key><string>MU</string>
		<key>Length</key>
		<integer>30</integer>
		<key>InnerStructure</key>
		<string>U04F02F02F12F03U03</string>
		<key>EU924-2009</key>
		<false />
		<key>IBAN-Requirement</key>
		<false />
		<key>Example</key>
		<string>MU17BOMM0101101030300200000MUR</string>
	</dict>
	<dict>
		<key>Country</key><string>NL</string>
		<key>Length</key>
		<integer>18</integer>
		<key>InnerStructure</key>
		<string>U04F10</string>
		<key>EU924-2009</key>
		<true />
		<key>IBAN-Requirement</key>
		<false />
		<key>Example</key>
		<string>NL91ABNA0417164300</string>
	</dict>
	<dict>
		<key>Country</key><string>NO</string>
		<key>Length</key>
		<integer>15</integer>
		<key>InnerStructure</key>
		<string>F04F06F01</string>
		<key>EU924-2009</key>
		<true />
		<key>IBAN-Requirement</key>
		<false />
		<key>Example</key>
		<string>NO9386011117947</string>
	</dict>
	<dict>
		<key>Country</key><string>PL</string>
		<key>Length</key>
		<integer>28</integer>
		<key>InnerStructure</key>
		<string>F08F16</string>
		<key>EU924-2009</key>
		<true />
		<key>IBAN-Requirement</key>
		<true />
		<key>Example</key>
		<string>PL27114020040000300201355387</string>
	</dict>
	<dict>
		<key>Country</key><string>PT</string>
		<key>Length</key>
		<integer>25</integer>
		<key>InnerStructure</key>
		<string>F04F04F11F02</string>
		<key>EU924-2009</key>
		<true />
		<key>IBAN-Requirement</key>
		<false />
		<key>Example</key>
		<string>PT50000201231234567890154</string>
	</dict>
	<dict>
		<key>Country</key><string>RO</string>
		<key>Length</key>
		<integer>24</integer>
		<key>InnerStructure</key>
		<string>U04A16</string>
		<key>EU924-2009</key>
		<true />
		<key>IBAN-Requirement</key>
		<false />
		<key>Example</key>
		<string>RO49AAAA1B31007593840000</string>
	</dict>
	<dict>
		<key>Country</key><string>RS</string>
		<key>Length</key>
		<integer>22</integer>
		<key>InnerStructure</key>
		<string>F03F13F02</string>
		<key>EU924-2009</key>
		<false />
		<key>IBAN-Requirement</key>
		<false />
		<key>Example</key>
		<string>RS35260005601001611379</string>
	</dict>
	<dict>
		<key>Country</key><string>SA</string>
		<key>Length</key>
		<integer>24</integer>
		<key>InnerStructure</key>
		<string>F02A18</string>
		<key>EU924-2009</key>
		<false />
		<key>IBAN-Requirement</key>
		<true />
		<key>Example</key>
		<string>SA0380000000608010167519</string>
	</dict>
	<dict>
		<key>Country</key><string>SE</string>
		<key>Length</key>
		<integer>24</integer>
		<key>InnerStructure</key>
		<string>F03F16F01</string>
		<key>EU924-2009</key>
		<true />
		<key>IBAN-Requirement</key>
		<false />
		<key>Example</key>
		<string>SE4550000000058398257466</string>
	</dict>
	<dict>
		<key>Country</key><string>SI</string>
		<key>Length</key>
		<integer>19</integer>
		<key>InnerStructure</key>
		<string>F05F08F02</string>
		<key>EU924-2009</key>
		<true />
		<key>IBAN-Requirement</key>
		<false />
		<key>Example</key>
		<string>SI56191000000123438</string>
	</dict>
	<dict>
		<key>Country</key><string>SK</string>
		<key>Length</key>
		<integer>24</integer>
		<key>InnerStructure</key>
		<string>F04F06F10</string>
		<key>EU924-2009</key>
		<true />
		<key>IBAN-Requirement</key>
		<false />
		<key>Example</key>
		<string>SK3112000000198742637541</string>
	</dict>
	<dict>
		<key>Country</key><string>SM</string>
		<key>Length</key>
		<integer>27</integer>
		<key>InnerStructure</key>
		<string>U01F05F05A12</string>
		<key>EU924-2009</key>
		<false />
		<key>IBAN-Requirement</key>
		<false />
		<key>Example</key>
		<string>SM86U0322509800000000270100</string>
	</dict>
	<dict>
		<key>Country</key><string>TN</string>
		<key>Length</key>
		<integer>24</integer>
		<key>InnerStructure</key>
		<string>F02F03F13F02</string>
		<key>EU924-2009</key>
		<false />
		<key>IBAN-Requirement</key>
		<false />
		<key>Example</key>
		<string>TN5914207207100707129648</string>
	</dict>
	<dict>
		<key>Country</key><string>TR</string>
		<key>Length</key>
		<integer>26</integer>
		<key>InnerStructure</key>
		<string>F05A01A16</string>
		<key>EU924-2009</key>
		<false />
		<key>IBAN-Requirement</key>
		<true />
		<key>Example</key>
		<string>TR330006100519786457841326</string>
	</dict>
	<dict>
		<key>Country</key><string>VG</string>
		<key>Length</key>
		<integer>24</integer>
		<key>InnerStructure</key>
		<string>U04F16</string>
		<key>EU924-2009</key>
		<false />
		<key>IBAN-Requirement</key>
		<false />
		<key>Example</key>
		<string>VG11VPVG0000012345678901</string>
	</dict>
</array>
</plist>